body {
  font-family: 'Indie Flower', cursive;
  text-shadow: 4px 4px 4px #aaa;
  text-align: center;

}

body h1 {
  text-align: center;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }

  .navbar-nav li a:hover {
    color: #1abc9c !important;
  }

  .bg-grey {
    background-color: #f6f6f6;

}
.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

.center {
  height: 200px;
  position: relative;
  border: 3px solid green;
}


/* The opensnack */
#snackbar {
 visibility: hidden;
 min-width: 250px;
 margin-left: -125px;
 background-color: #333;
 color: #fff;
 text-align: center;
 border-radius: 2px;
 padding: 16px;
 position: fixed;
 z-index: 1;
 left: 50%;
 bottom: 30px;
}

/* the opensnack JavaScript */
#snackbar.show {
 visibility: visible;
 -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
 animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animações para botar o opensnack dentro e fora */
@-webkit-keyframes fadein {
 from {bottom: 0; opacity: 0;}
 to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
 from {bottom: 0; opacity: 0;}
 to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
 from {bottom: 30px; opacity: 1;}
 to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
 from {bottom: 30px; opacity: 1;}
 to {bottom: 0; opacity: 0;}
}



.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn {
  border: 2px solid white;
  background-color: transform;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}




.bg-4 {
  background-color: #2f2f2f;
  color: #ffffff;
}
.container-fluid {
    padding-top: 15%;
    padding-bottom: 70px;
